/* Google Fonts Link - Bebas Neue for headings and Roboto for body content.
Use: font-family: 'Bebas Neue', cursive; or font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/*--------------------------------- Default Styles (to overide Bootstrap defaults) */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------- Colours and backgrounds */

.bg-navbar {
    background-color: #FCA311;
}

.bg-hero-container {
    background-image: url("https://michaelpearce21.github.io/MS2_Project/assets/images/martin-knize-unsplash-hero-image.jpeg")";
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100%;
}

/*--------------------------------- Nav Bar elements */

.navbar-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 200%; 
}
